# log telegram
/log_telegram1.txt
/log_telegram.txt

# настройки бд
/include/config.inc.php

#
/.htaccess
/log.txt
/log__*

#
/1c/
/orders/
/img/
/inv/
/files/
/import/
/report/

#script for change tabel bd
/ts_stats_test.php
/bd_script.php
/b24_test.php
/robot_script.php
/robot_script1.php
/tester.php
/ts_stats_r.php